/**********************TAG SELECTORS***************/

body {
    font-family: 'Monserrat';
}

body::before {
    content: "";
    position: fixed;
    background: #040404 url("../img/bg.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Monserrat';
}

h1 {
    font-family: 'Monserrat-Black';
    size: 3.5rem;
    line-height: 1.5;
    color: #fff;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: bold;
}

p {
    color: #8f8f8f;
}


/**********************CLASS SELECTORS*************/

.container-fluid {
    padding: 3% 15% 7%;
}


/*Navigation-bar*/

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Monserrat-Light';
    font-size: 1.2rem;
}


/*Download-buttons*/

.download-button {
    margin: 5% 3% 5% 0;
}


/*tittle-image*/

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/*feature box section*/

.feature-box {
    text-align: center;
    padding: 5%;
}


/*icons*/

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/*testimonial-image*/

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/*Carousel-item*/

.carousel-item {
    padding: 7% 15%;
}


/*press-logo*/

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.card-title {
    color: black;
}

.pricing-column {
    padding: 3% 2%;
}

.cta-heading {
    font-family: 'Monserrat';
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

.social-icon {
    margin: 20px 10px;
}


/**********************ID SELECTORS*************/

#title {
    background-color: #ff4c68;
    color: #fff;
}


/*Feature Section*/

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}


/*Testimonial Section*/

#testimonials {
    /* padding: 7% 15%;*/
    text-align: center;
    color: #fff;
    background-color: #ef8172;
}


/*Press Section*/

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}


/*Pricing Section*/

#pricing {
    text-align: center;
    padding: 100px;
}


/*CTA Section*/

#cta {
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 12%;
}


/*Footer Section*/

#footer {
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}


/*Media Query*/

@media (max-width:1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}